.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
  padding: 20px;;
}

@keyframes donutfade {
/* this applies to the whole svg item wrapper */
  0% {
      opacity: .2;
  }
  100% {
      opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
      width: 80%;
  }
}

.donut-ring {
  stroke: #1e212b;
}

.donut-segment {
  transform-origin: center;
  stroke: #FF6200;
}

.donut-segment-2 {
  stroke: #54fff9;
  animation: donut1 3s;
}

.donut-segment-3 {
  stroke: #5381C6;
  animation: donut2 3s;
}

.donut-segment-4 {
  stroke: #f95da4;
  animation: donut3 3s;
}

.segment-1{fill:#ccc;}
.segment-2{fill:#54fff9;}
.segment-3{fill:#5381C6;}
.segment-4{fill:#f95da4;}

.donut-percent {
  animation: donutfadelong 1s;
}

@keyframes donutfadelong {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes donut1 {
  0% {
      stroke-dasharray: 0, 100;
  }
  100% {
      stroke-dasharray: 69, 31;
  }
}

@keyframes donut2 {
  0% {
      stroke-dasharray: 0, 100;
  }
  100% {
      stroke-dasharray: 30, 70;
  }
}

@keyframes donut3{
  0% {
      stroke-dasharray: 0, 100;
  }
  100% {
      stroke-dasharray: 1, 99;
  }
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: #FF6200;
}
.donut-text-1 {
  fill: #54fff9;
}
.donut-text-2 {
  fill: #2878ef;
}
.donut-text-3 {
  fill: #f95da4;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut-data {
  font-size: 0.25em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color:#54fff9;
  fill: #54fff9;
  animation: donutfadelong 1s;
}




/* ---------- */
/* just for this presentation */
:root {
--bg-light:#d5dfef;
--bg-dark:#202631;
}
body {
background:#202631;
padding:40px;
}
html { text-align:center; }
.svg-item {
max-width: 80%;
display:inline-block;
}
.donut {
box-shadow: 5px 5px 15px rgb(0 0 0 / 20%), -5px -5px 15px rgb(255 255 255 / 5%), inset -5px -5px 10px rgb(255 255 255 / 5%), inset 5px 5px 10px rgb(0 0 0 / 20%);
border-radius:50%;
}

